
# Class 3 exercises 

The following are some exercises we will do in class. Lab 2 will build off the results from these exercises.

## Creating lead leaders in batting average for every year

Let's try to figure out the steps needed to create a plot of the league leaders in batting average as a function of the year starting from the Lahman batting data set (which is loaded below).

Relevant questions:

1. What allows someone to qualify as a "league leader" in statistics?
2. What statistics are needed to plot the league leader in batting average? 


See if you can describe the steps needed to plot the league leader in batting average? 

The steps are:

1. 
2. 
3. 
...

In [1]:
# load the data
from datascience import *

batting = Table.read_table('https://raw.githubusercontent.com/emeyers/SDS173/master/data/Batting.csv')  

batting.show(3)

## Aging curves

What steps are needed to create aging curves from the Lahman batting and people data sets? 

The steps are:

1. 
2. 
3. 
...

In [ ]:

players = Table.read_table('https://raw.githubusercontent.com/emeyers/SDS173/master/data/People.csv')

## Joining tables

We can join to tables together based on a common "key" column. The example below illustrates this.

In [2]:
x = Table().with_column('left_key', make_array(1, 2, 3)).with_column('left_value', make_array("x1", "x2", "x3"))
y = Table().with_column('right_key', make_array(1, 2, 4)).with_column('right_value', make_array("y1", "y2", "y3"))

x.show()
y.show()

x.join("left_key", y, "right_key")

left_key | left_value | right_value
1        | x1         | y1
2        | x2         | y2